body{
  /*background: #00171f;*/
  background-image: url("images/galaxie.jpg");
  background-attachment: fixed;
  color: #272637;
  font-size: 12px;
  font-family: Helvetica;
}

h1{
  font-family: Merriweather;
  color: white;
  font-weight: lighter;
  font-size: 48px;
  font-variant: small-caps;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

h2 {
  font-family: Courier;
  color: #626f92;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
 font-variant: small-caps;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
  color: purple;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icone{
  padding: 10px;
  text-align: center;
  min-height: 275px;
  margin: 20px;
  border-spacing: 20px 20px;
  background-color: #e2e3ff;
  border-radius: 6px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

.search {
  text-align: center;
}

#banner{
  padding: 15px;
  padding-left: 50px;
  border: 2px solid #e2e3ff;
  background-image: url("images/canape2.jpg");
  border-radius: 12px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
  margin: 50px;
  text-align: center;
  color: white;
}

#footer{
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

#footer a {
  color: lightgrey;
  font-size: 20px;
}

#footer a:hover {
  color: white;
}

#content{
  /*background-color: #e2e3ff;*/
  background-color: rgba(226,227,255,0.7);
  border-radius: 12px;
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
  margin: 50px;
}
